<section id="content" class="gray-area">
	<div class="container">
		<div class="tab-content" *ngIf="unite">

            <div class="tab-pane active" id="car-details">
                <div class="col-sm-4 intro box table-wrapper hidden-table-sms">
                	
                    <div class="travel-story-container box">
                            <div class="travel-story-content">
                                <div class="avatar">
                                    <p>{{'added-by'|translate}}:</p>
                                    <img src="http://www.ahm.org.py/awk/wp-content/uploads/2017/01/user.jpg" width="30" height="30" alt="">
                                    
                                    <h5 *ngIf="user"><a href="#">{{user.firstName}} {{user.lastName}}</a></h5>
                                </div>
                                <div class="description">
                                    <h1 class="skin-color">{{'title'|translate}} : {{unite.title}}</h1>
                                    
                                    
                                </div>
                            </div>
                            <div class="travel-story-meta clearfix">
                                <span class="travel-miles"><i class="soap-icon-clock"></i>{{'created-on'|translate}} {{unite.createdOn | date:shortDate}}  |  {{unite.createdOn | date:'shortTime'}}</span>
                                <span class="travel-miles"><i class="soap-icon-doc-plus"></i><span><b>{{unite.comments.length}}</b> {{'comment'|translate}}(s)</span></span>
                            </div>
                        </div>

                </div>
			</div>
        </div>
        <div class="tab-content" *ngIf="unite">

            <div *ngIf="unite.comments" class="tab-pane active" id="car-details">
                <div class="col-sm-8 intro box table-wrapper hidden-table-sms">
                	
                    <div class="booking-section travelo-box">

					<form class="booking-form" [formGroup]="insertForm" (ngSubmit)="onSubmit(insertForm.valid)" name="myForm" autocomplete="off">
						<h2>{{'uniteh-details'|translate}} </h2>
						<input type="hidden" formControlName="userId" />
						
						<div class="form-group row">
							<div >
								<label>{{'title'| translate}}</label> <input type="text"
									class="input-text full-width" id="description"
									placeholder="Your entrevue Title" formControlName="title"><br />
								<small *ngIf="!insertForm.controls.title.valid && valid">Required
									(Must be at least 10 chars, and max 100 chars).</small>
								<div *ngIf="insertForm.controls.title.errors && !valid" class="alert-danger">
									<div [hidden]="!insertForm.controls.title.errors.required">{{'trip-insert-title-error-required'|translate}}</div>
									<div [hidden]="!insertForm.controls.title.errors.minlength">{{'trip-insert-title-error-min'|translate}}</div>
									<div [hidden]="!insertForm.controls.title.errors.maxlength">{{'trip-insert-title-error-max'|translate}}</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 col-md-4">
								<button type="submit" class="full-width btn-large">{{ 'button-update'|translate}}</button>
							</div>
							<div class="col-sm-6 col-md-4">
								<a href="#travelo-delete" class="button btn-large red full-width soap-popupbox"
									 (click)="ShowDelete()" >{{'button-delete'|translate}}</a>
                            </div>
                            <div class="col-sm-6 col-md-4">
								<a class="button btn-large orange full-width"
									[routerLink]="['/uniteh/details',unite.id]" routerLinkActive="active">{{'button-cancel'|translate}}</a>
							</div>
						</div>
					</form>
				  	
                </div>

                </div>
			</div>
		</div>
	</div>
</section>
<div *ngIf="delete" id="travelo-delete" class="travelo-signup-box travelo-box" style = "height: 250px;">
 	<div class="simple-signup" align="center">
		<h1 class="red-color uppercase">{{'warning-title'| translate}}</h1>
        <p *ngIf="!error" style="font-size: 1.3333em;">{{'warning-message'| translate}}</p>
        <div *ngIf="error">
            <div><h4 class="red-color">{{'ERROR'|translate}} [ {{errorCode}} ]: {{errorMessage}}</h4></div> 
        </div>
	</div>
	<div class="seperator"></div>
	<div class="form-group row">
		<div  class="col-sm-6 col-md-6">
			<a href="#travelo-delete" class="button btn-large red full-width soap-popupbox" (click)="Delete()" >{{'button-delete'|translate}}</a>
		</div>
		<div  class="col-sm-6 col-md-6">
			<a href="#travelo-delete" class="button btn-large full-width soap-popupbox" (click)="Cancel($event)" >{{'button-cancel'|translate}}</a>
		</div>
	</div>
</div>

