<section id="content" class="gray-area">
    <div class="container">
        <div id="main">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <h4 class="search-results-title"><i class="soap-icon-search"></i><b>{{unites.length}}</b> {{'results-found'|translate}}.</h4>
                    <div >
                        <a [routerLink]="['/uniteh/create']" routerLinkActive="active"  class="button uppercase full-width btn-large dark-blue1">{{'uniteh-create'|translate}}</a>                       
                    </div>
                    <br/>
                    <div *ngIf="selectedUniteH" >
                        <a [routerLink]="['/uniteh/edit',selectedUniteH.id]" routerLinkActive="active"  class="button uppercase full-width btn-large dark-blue1">{{'uniteh-edit'|translate}}</a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="col-sm-8 col-md-8">
                        <h2>{{'uniteh-list'|translate}}</h2>
                        <div class="toggle-container box" id="accordion1">
                            <div *ngFor="let unite of unites" class="panel style1">
                                <h4 class="panel-title">
                                    <a class="{{unite.collapse}}" href="#{{unite.id}}" data-toggle="collapse" data-parent="#accordion1"  (click)="clicked(unite)">Titre : {{unite.title}}</a>
                                </h4>
                                <div class="panel-collapse collapse {{unite.select}}" id="{{unite.id}}">
                                    <div  *ngFor="let comment of unite.comments" class="travel-story-container box">
                                        <div class="detailed-features">
                                            <div class="details">
                                                <h4> {{comment.comment}}</h4>                                           
                                            </div>
                                        </div>
                                        <div class="travel-story-meta clearfix">
                                            <span class="travel-miles"><i class="soap-icon-clock"></i>{{'added-on'|translate}} : {{comment.createdOn | date:shortDate}}  |  {{comment.createdOn | date:'shortTime'}} {{'by'|translate}} {{comment.user.firstName}} {{comment.user.lastName}}</span>
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selectedUniteH" class="col-sm-4 col-md-4">
                        <div class="col-sm-4 col-md-3" style="position: fixed;">
                            <h2>Commenter</h2>
                            <form class="booking-form travelo-box" [formGroup]="insertForm" (ngSubmit)="commenter(insertForm.valid)" name="myForm" autocomplete="off">
                            <div class="form-group row">
                                    <div class="col-sm-6 col-md-12">
                                        <textarea rows="10" class="input-text full-width" id="text"
                                            placeholder="Your entrevue content here ... " formControlName="comment"></textarea>
                                        <small *ngIf="!insertForm.controls.comment.valid && valid">Required(Must be at least 20 chars).</small>
                                    </div>
                                    <div *ngIf="insertForm.controls.comment.errors && !valid" class="alert-danger">
                                        <div [hidden]="!insertForm.controls.comment.errors.required">{{'trip-insert-desc-error-required'|translate}}</div>
                                        <div [hidden]="!insertForm.controls.comment.errors.minlength">{{'trip-insert-desc-error-min'|translate}}</div>
                                        <div [hidden]="!insertForm.controls.comment.errors.maxlength">{{'trip-insert-desc-error-max'|translate}}</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div >
                                        <button type="submit" class="full-width btn-large">{{ 'button-comment'|translate}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="alert"><a id="close">X</a>
<div id="wrapper">
  <div id="left">{{'ERROR'|translate}} [ {{errorCode}} ]:</div>   
  <div id="right">{{errorMessage}}</div>
</div>
</div>