<section id="content" class="gray-area">
	<div class="container">
		<div class="tab-content" *ngIf="unite">

            <div class="tab-pane active" id="car-details">
                <div class="col-sm-4 intro box table-wrapper hidden-table-sms">
                	
                    <div class="travel-story-container box">
                            <div class="travel-story-content">
                                <div class="avatar">
                                    <p>{{'added-by'|translate}}:</p>
                                    <img src="http://www.ahm.org.py/awk/wp-content/uploads/2017/01/user.jpg" width="30" height="30" alt="">
                                    
                                    <h5 *ngIf="user"><a href="#">{{user.firstName}} {{user.lastName}}</a></h5>
                                </div>
                                <div class="description">
                                    <h1 class="skin-color">{{'title'|translate}} : {{unite.title}}</h1>
                                    
                                    
                                </div>
                            </div>
                            <div class="travel-story-meta clearfix">
                                <span class="travel-miles"><i class="soap-icon-clock"></i>{{'created-on'|translate}} {{unite.createdOn | date:shortDate}}  |  {{unite.createdOn | date:'shortTime'}}</span>
                                <span class="travel-miles"><i class="soap-icon-doc-plus"></i><span><b>{{unite.comments.length}}</b> {{'comment'|translate}}(s)</span></span>
                            </div>
                            <a [routerLink]="['/uniteh/edit',unite.id]" routerLinkActive="active"  class="button uppercase full-width btn-large">{{'uniteh-edit'|translate}}</a>      
                        </div>
                        

                </div>
			</div>
        </div>
        <div class="tab-content" *ngIf="unite">

            <div *ngIf="unite.comments" class="tab-pane active" id="car-details">
                <div class="col-sm-8 intro box table-wrapper hidden-table-sms">
                	
                    <div  *ngFor="let comment of unite.comments" class="travel-story-container box">
                            <div class="detailed-features">
                                <div class="details" >
                                    <h4>{{'comment'|translate}}(s):</h4>
                                </div>
                                <div class="details">
                                    <h4> {{comment.comment}}</h4>
                                    
                                </div>
                            </div>
                            <div class="travel-story-meta clearfix">
                                <span class="travel-miles"><i class="soap-icon-clock"></i>{{'added-on'|translate}} {{comment.createdOn | date:shortDate}}  |  {{comment.createdOn | date:'shortTime'}} {{'by'|translate}} {{comment.user.firstName}} {{comment.user.lastName}}</span>
                            </div>
                        </div>

                </div>
            </div>

        </div>
        
	</div>
</section>

