        <section id="content">
            <div class="container">
                <div id="main">
                    <div class="section service-list">
                        <div class="row">
                            <div class="box col-sm-6 col-md-3">
                                <div class="icon-box box style8 style12">
                                    <div class="icon-wrapper">
                                        <i class="soap-icon-hotel"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="m-title">{{'about-coming-soon'|translate}}</h4>
                                    </div>
                                </div>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                            <div class="box col-sm-6 col-md-3">
                                <div class="icon-box box style8 style12">
                                    <div class="icon-wrapper">
                                        <i class="soap-icon-plane-right takeoff-effect"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="m-title">{{'about-coming-soon'|translate}}</h4>
                                    </div>
                                </div>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                            <div class="box col-sm-6 col-md-3">
                                <div class="icon-box box style8 style12">
                                    <div class="icon-wrapper">
                                        <i class="soap-icon-car"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="m-title">{{'about-coming-soon'|translate}}</h4>
                                    </div>
                                </div>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                            <div class="box col-sm-6 col-md-3">
                                <div class="icon-box box style8 style12">
                                    <div class="icon-wrapper">
                                        <i class="soap-icon-cruise"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="m-title">{{'about-coming-soon'|translate}}</h4>
                                    </div>
                                </div>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                            <div class="box col-sm-6 col-md-3">
                                <div class="icon-box box style8 style12">
                                    <div class="icon-wrapper">
                                        <i class="soap-icon-slider"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="m-title">{{'about-coming-soon'|translate}}</h4>
                                    </div>
                                </div>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                            <div class="box col-sm-6 col-md-3">
                                <div class="icon-box box style8 style12">
                                    <div class="icon-wrapper">
                                        <i class="soap-icon-search"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="m-title">{{'about-coming-soon'|translate}}</h4>
                                    </div>
                                </div>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                            <div class="box col-sm-6 col-md-3">
                                <div class="icon-box box style8 style12">
                                    <div class="icon-wrapper">
                                        <i class="soap-icon-insurance"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="m-title">{{'about-coming-soon'|translate}}</h4>
                                    </div>
                                </div>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                            <div class="box col-sm-6 col-md-3">
                                <div class="icon-box box style8 style12">
                                    <div class="icon-wrapper">
                                        <i class="soap-icon-stories"></i>
                                    </div>
                                    <div class="details">
                                        <h4 class="m-title">T{{'about-coming-soon'|translate}}</h4>
                                    </div>
                                </div>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="large-block row image-box style2">
                        <div class="col-md-6">
                            <article class="box">
                                <figure>
                                    <a href="#" title=""><img src="http://placehold.it/270x192" alt="" width="270" height="192" /></a>
                                </figure>
                                <div class="details">
                                    <h4>{{'about-coming-soon'|translate}}</h4>
                                    <p>{{'about-coming-soon'|translate}}</p>
                                    <a href="#" title="" class="button btn-mini">{{'about-coming-soon'|translate}}</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <article class="box">
                                <figure>
                                    <a href="#" title=""><img src="http://placehold.it/270x192" alt="" width="270" height="192" /></a>
                                </figure>
                                <div class="details">
                                    <h4>{{'about-coming-soon'|translate}}</h4>
                                    <p>{{'about-coming-soon'|translate}}</p>
                                    <a href="#" title="" class="button btn-mini">{{'about-coming-soon'|translate}}</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <article class="box">
                                <figure>
                                    <a href="#" title=""><img src="http://placehold.it/270x192" alt="" width="270" height="192" /></a>
                                </figure>
                                <div class="details">
                                    <h4>{{'about-coming-soon'|translate}}</h4>
                                    <p>{{'about-coming-soon'|translate}}</p>
                                    <a href="#" title="" class="button btn-mini">{{'about-coming-soon'|translate}}</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <article class="box">
                                <figure>
                                    <a href="#" title=""><img src="http://placehold.it/270x192" alt="" width="270" height="192" /></a>
                                </figure>
                                <div class="details">
                                    <h4>{{'about-coming-soon'|translate}}</h4>
                                    <p>{{'about-coming-soon'|translate}}</p>
                                    <a href="#" title="" class="button btn-mini">{{'about-coming-soon'|translate}}</a>
                                </div>
                            </article>
                        </div>
                    </div>

                    <h2>{{'about-coming-soon'|translate}}</h2>
                    <div class="investor-slideshow image-carousel style2 investor-list box" data-animation="slide" data-item-width="170" data-item-margin="30">
                        <ul class="slides">
                            <li>
                                <div class="travelo-box">
                                    <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                                </div>
                            </li>
                            <li>
                                <div class="travelo-box">
                                    <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                                </div>
                            </li>
                            <li>
                                <div class="travelo-box">
                                    <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                                </div>
                            </li>
                            <li>
                                <div class="travelo-box">
                                    <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                                </div>
                            </li>
                            <li>
                                <div class="travelo-box">
                                    <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                                </div>
                            </li>
                            <li>
                                <div class="travelo-box">
                                    <a href="#"><img src="http://placehold.it/160x60" alt=""></a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="row features">
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <div class="travelo-box">
                                <h4 class="s-title">{{'about-coming-soon'|translate}}</h4>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                        </div>
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <div class="travelo-box">
                                <h4 class="s-title">{{'about-coming-soon'|translate}} &amp; {{'about-coming-soon'|translate}}</h4>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                        </div>
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <div class="travelo-box">
                                <h4 class="s-title">{{'about-coming-soon'|translate}}</h4>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                        </div>
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <div class="travelo-box">
                                <h4 class="s-title">{{'about-coming-soon'|translate}}</h4>
                                <p>{{'about-coming-soon'|translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>