<div class="container b-container-login-page">
	<div class="simple-signup" style="margin:0 auto;">
		<form class="edit-profile-form" [formGroup]="insertForm" id = "insertForm" (ngSubmit)="signup(insertForm.valid)" name="myForm">
	        <h2>{{'Subscribe'|translate}} !</h2>
	        <div class="col-sm-8 no-padding no-float">
	            <div class="row form-group">
	                <div class="col-sms-6 col-sm-6">
	                    <label>First Name</label>
	                    <input type="text" class="input-text full-width" #firstname formControlName="firstname" placeholder="">
	                	<small *ngIf="!insertForm.controls.firstname.valid && valid">Required.</small>
	                	<div *ngIf="!insertForm.controls.firstname.valid && !valid" class="alert-danger">
				          	<div [hidden]="insertForm.controls.firstname.valid">firstname is required </div>
		       		 	</div>
                  	</div>
	                <div class="col-sms-6 col-sm-6">
	                    <label>Last Name</label>
	                    <input type="text" class="input-text full-width" #lastname formControlName="lastname" placeholder="">
	                    <small *ngIf="!insertForm.controls.lastname.valid && valid">Required.</small>
	                	<div *ngIf="!insertForm.controls.lastname.valid && !valid" class="alert-danger">
				          	<div [hidden]="insertForm.controls.lastname.valid">lastname is required </div>
		       		 	</div>
              		</div>
	            </div>
	            <div class="row form-group">
	                <div class="col-sms-6 col-sm-6">
	                    <label>Email Address</label>
	                    <input type="email" class="input-text full-width" #email formControlName="email"placeholder="">
	                <small *ngIf="!insertForm.controls.email.valid && valid">Required.</small>
	                	<div *ngIf="!insertForm.controls.email.valid && !valid" class="alert-danger">
				          <div [hidden]="insertForm.controls.email.valid">email is required </div>
			       		 </div>
	                  </div>
	            </div>
				<div class="row form-group">
	                <div class="col-sms-6 col-sm-6">
	                    <label >Password</label>
	                    <input type="password" class="input-text full-width" #password formControlName="password" placeholder="">
	                	<small *ngIf="!insertForm.controls.password.valid && valid">Required.</small>
	                	<div *ngIf="!insertForm.controls.password.valid && !valid" class="alert-danger">
				          	<div [hidden]="insertForm.controls.password.valid">password is required </div>
				          	<div [hidden]="!insertForm.controls.password.errors.minlength">password must be at least 6 chars</div>
			       		 </div>
	                  </div>
	                <div class="col-sms-6 col-sm-6">
	                    <label>Confirm Password</label>
	                    <input type="password" class="input-text full-width"#confirmpassword formControlName="confirmpassword" placeholder="">
	                	<small *ngIf="!insertForm.controls.confirmpassword.valid && valid">Required.</small>
	                	<div *ngIf="!insertForm.controls.confirmpassword.valid && !valid" class="alert-danger">
			          		<div [hidden]="insertForm.controls.confirmpassword.errors?.MatchPassword">does not match password</div>
				        </div>
              		</div>
	            </div>
			 	<div class="from-group">
	                 <div >
						<label> <input type="checkbox" formControlName="termsAndConditions" > I agree to the <a target="_blank" [routerLink]="['/agreement']"
					class="goto-login">Terms and conditions</a>
						</label>
					</div>
					<div *ngIf="!insertForm.controls.termsAndConditions.valid && !valid"
									class="alert-danger">
									<div [hidden]="insertForm.controls.termsAndConditions.valid">You need to accept the terms and conditions</div>
								</div>
	            </div>
	            <div class="from-group">
	                <button type="submit" class="btn-medium col-sms-6 col-sm-4">SIGN-UP</button>
	            </div>
	
	        </div>
	    </form>
	</div>
</div>
<div id="alert"><a id="close">X</a>
<div id="wrapper">
  <div id="left">{{'ERROR'|translate}} [ {{errorCode}} ]:</div>   
  <div id="right">{{errorMessage}}</div>
</div>
</div>