<section id="content" class="no-padding gray-area">
       
	<div class="container section shortcode">
		<h2>{{'available-action'|translate}}</h2>
        <div class="block flight-list image-box flight listing-style2" >
             <a [routerLink]="['/entrevue']" routerLinkActive="active"  class="button uppercase btn-large dark-blue1">{{'entrevue-list'|translate}}</a>
              <a [routerLink]="['/entrevue/create']" routerLinkActive="active"  class="button uppercase btn-large dark-blue1">{{'entrevue-create'|translate}}</a>
              <a [routerLink]="['/uniteh']" routerLinkActive="active"  class="button uppercase btn-large dark-blue1">{{'uniteh-list'|translate}}</a>
              <a [routerLink]="['/uniteh/create']" routerLinkActive="active"  class="button uppercase btn-large dark-blue1">{{'uniteh-create'|translate}}</a>
        </div>
    </div>

</section>
<div id="alert"><a id="close">X</a>
<div id="wrapper">
  <div id="left">{{'ERROR'|translate}} [ {{errorCode}} ]:</div>   
  <div id="right">{{errorMessage}}</div>
</div>
</div>