<div id="profile" class="tab-pane fade in active" *ngIf="user" (change)="updateUser($event)" >
	<div class="view-profile">
		<article class="image-box author style2 box personal-details">
			<figure>
				<img width="270" height="263" alt="" src="http://www.ahm.org.py/awk/wp-content/uploads/2017/01/user.jpg" style="object-fit:cover;">
			<!-- 	<a  [routerLink]="['../profilpicture']" class="button btn-mini edit-profile-btn" style="-webkit-border-radius: initial;margin-left: 20%;">{{'user-update-profile-msg'|translate}}</a> -->
			</figure>
			<div class="details" >
				<a  [routerLink]="['../update']" class="button btn-mini pull-right edit-profile-btn" style="-webkit-border-radius: initial;">{{'user-profile-edit'|translate}}</a>
				<h2 class="box-title fullname">{{user.firstName}} {{user.lastName}}</h2>
				<dl class="term-description">
					<dt>{{'user-profile-mail'|translate}}:</dt><dd>{{user.email}}</dd>
					<dt>{{'user-profile-first'|translate}}:</dt><dd>{{user.firstName}}</dd>
					<dt>{{'user-profile-last'|translate}}:</dt><dd>{{user.lastName}}</dd>
				</dl>
			</div>
		</article>
	</div>
</div>
<div id="alert"><a id="close">X</a>
<div id="wrapper">
  <div id="left">{{'ERROR'|translate}} [ {{errorCode}} ]:</div>   
  <div id="right">{{errorMessage}}</div>
</div>
</div>
