                            <div id="settings" class="tab-pane fade in active" >
                                <h2>{{'users-settings-account'|translate}}</h2>
                                <h5 class="skin-color">{{'users-settings-change'|translate}}</h5>
                                <form [formGroup]="pwrdForm"
					id="pwrdForm" (ngSubmit)="updatePassword(pwrdForm.valid)" name="myForm">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <label>{{'users-settings-old'|translate}}</label>
                                            <input type="password" class="input-text full-width" #password formControlName="currentpassword" > 
                                            <small *ngIf="!pwrdForm.controls.currentpassword.valid || valid">{{'users-settings-required'|translate}}</small>
											<div *ngIf="!pwrdForm.controls.currentpassword.valid && !valid" class="alert-danger">
												<div [hidden]="!pwrdForm.controls.currentpassword.valid">Password is required</div>
									
											</div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <label>{{'users-settings-new'|translate}}</label>
                                            <input type="password" class="input-text full-width" #password formControlName="password" > 
                                            <small *ngIf="!pwrdForm.controls.password.valid || valid">{{'users-settings-required'|translate}}</small>
						                	<div *ngIf="!pwrdForm.controls.password.valid && !valid" class="alert-danger">
									          	<div [hidden]="!pwrdForm.controls.password.valid">{{'users-settings-pwd-required'|translate}}</div>
									          	<div [hidden]="!pwrdForm.controls.password.errors.minlength">{{'users-settings-pwd-length'|translate}}</div>
								       		 </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            <label>{{'users-settings-confirm'|translate}}</label>
                                            <input type="password" class="input-text full-width" #password formControlName="confirmpassword" > 
                                            <small *ngIf="!pwrdForm.controls.confirmpassword.valid || valid">{{'users-settings-required'|translate}}</small>
						                	<div *ngIf="!pwrdForm.controls.confirmpassword.valid && !valid" class="alert-danger">
								          		<div [hidden]="!pwrdForm.controls.confirmpassword.errors?.MatchPassword">{{'users-settings-pwd-match'|translate}}</div>
									        </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn-medium">{{'users-settings-pwd-btn'|translate}}</button>
                                    </div>
                                </form>
                            </div>
                            <div id="alert"><a id="close">X</a>
<div id="wrapper">
  <div id="left">{{'ERROR'|translate}} [ {{errorCode}} ]:</div>   
  <div id="right">{{errorMessage}}</div>
</div>
</div>