<div id="dashboard" class="tab-pane fade in active" *ngIf="user">
    <h1 class="no-margin skin-color">{{'user-dashboard-hi'|translate}} {{user.firstName}}, {{'user-dashboard-hi2'|translate}}!</h1>
    <p>{{'user-dashboard-welcome'|translate}}</p>
    <br />
    <div class="row block">
        <div class="col-sm-6 col-md-3">
<!--             <a href="hotel-list-view.html">
                <div class="fact blue">
                    <div class="numbers counters-box">
                        <dl>
                            <dt class="display-counter" data-value="3200">0</dt>
                            <dd>Hotels to Stay</dd>
                        </dl>
                        <i class="icon soap-icon-hotel"></i>
                    </div>
                    <div class="description">
                        <i class="icon soap-icon-longarrow-right"></i>
                        <span>View Hotels</span>
                    </div>
                </div>
            </a> -->
        </div>
        
        <div class="col-sm-6 col-md-3">
            <a [routerLink]="['/users/tripads']" routerLinkActive="active">
                <div class="fact yellow">
                    <div class="numbers counters-box">
                        <dl>
                            <dt class="display-counter" data-value="4509" *ngIf="trips&&trips.length!==0">{{trips.length}}</dt>
                            <dt class="display-counter" data-value="4509" *ngIf="!trips||trips.length===0">0</dt>
                            <dd>{{'user-trips-count'|translate}}</dd>
                        </dl>
                        <i class="icon soap-icon-plane"></i>
                    </div>
                    <div class="description">
                        <i class="icon soap-icon-longarrow-right"></i>
                        <span>{{'user-trips-view'|translate}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a [routerLink]="['/users/packageads']" routerLinkActive="active">
                <div class="fact red">
                    <div class="numbers counters-box">
                        <dl>
                            <dt class="display-counter" data-value="4509" *ngIf="packages&&packages.length!==0">{{packages.length}}</dt>
                            <dt class="display-counter" data-value="4509" *ngIf="!packages||packages.length===0">0</dt>
                            <dd>{{'user-packages-count'|translate}}</dd>
                        </dl>
                        <i class="icon soap-icon-suitcase"></i>
                    </div>
                    <div class="description">
                        <i class="icon soap-icon-longarrow-right"></i>
                        <span>{{'user-packages-view'|translate}}</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
<!--             <a href="cruise-list-view.html">
                <div class="fact green">
                    <div class="numbers counters-box">
                        <dl>
                            <dt class="display-counter" data-value="1570">0</dt>
                            <dd>Celebrity Cruises</dd>
                        </dl>
                        <i class="icon soap-icon-cruise flip-effect"></i>
                    </div>
                    <div class="description">
                        <i class="icon soap-icon-longarrow-right"></i>
                        <span>View Cruises</span>
                    </div>
                </div>
            </a> -->
        </div>
    </div>
    <div class="notification-area">
        <div class="info-box block">
            <span class="close"></span>
            <p>{{'user-dashboard-message1'|translate}}</p>
            <br />
            <ul class="circle">
                <li><span class="skin-color">{{'user-dashboard-hint1'|translate}}</span> {{'user-dashboard-hint1-text'|translate}}</li>
                <li><span class="skin-color">{{'user-dashboard-hint2'|translate}}</span> {{'user-dashboard-hint2-text'|translate}} </li>
            </ul>
        </div>
    </div>
    
    <div class="row block">
        
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4>{{'user-dashboard-benefits'|translate}}</h4>
            <ul class="benefits triangle hover">
                <li><a href="#">{{'user-dashboard-faster'|translate}}</a></li>
                <li><a href="#">{{'user-dashboard-track'|translate}}</a></li>
                <li class="active"><a href="#">{{'user-dashboard-manage'|translate}}</a></li>
                <li><a href="#">{{'user-dashboard-receive'|translate}}</a></li>
            </ul>
        </div>
        <div class="col-md-4 previous-bookings image-box style14">
        	<div *ngIf="packages||trips">
            <h4>{{'user-dashboard-previous'|translate}}</h4>
            <article class="box" *ngIf="packages&&packages.length!==0">
                <figure class="no-padding">
                    <a title="" href="#">
                        <img alt="" src="http://placehold.it/63x59" width="63" height="59">
                    </a>
                </figure>
                <div class="details">
                    <h5 class="box-title"><a href="#">{{packages[0].departureLocation.name}} -> {{packages[0].arrivalLocation.name}}</a><small class="fourty-space"><span class="price">kg {{packages[0].maxWeight}}</span> </small></h5>
                </div>
            </article>
            <article class="box" *ngIf="trips&&trips.length!==0">
                <figure class="no-padding">
                    <a title="" href="#">
                        <img alt="" src="http://placehold.it/63x59" width="63" height="59">
                    </a>
                </figure>
                <div class="details">
                    <h5 class="box-title"><a href="#">{{trips[0].departureLocation.name}} -> {{trips[0].arrivalLocation.name}}</a><small class="fourty-space"><span class="price">${{trips[0].price}}</span> kg {{trips[0].maxWeight}}</small></h5>
                </div>
            </article>
            </div>
        </div>
        <div class="col-md-4">
            <h4>{{'user-dashboard-help'|translate}}</h4>
            <div class="contact-box">
                <p>{{'user-dashboard-help-text'|translate}}.</p>
                <address class="contact-details">
                    <span class="contact-phone"><i class="soap-icon-phone"></i>1-800-123-HELLO</span>
                    <br>
                    <a class="contact-email" href="#">info@carry4u.net</a>
                </address>
            </div>
        </div>
    </div>
</div>
<div id="alert"><a id="close">X</a>
<div id="wrapper">
  <div id="left">{{'ERROR'|translate}} [ {{errorCode}} ]:</div>   
  <div id="right">{{errorMessage}}</div>
</div>
</div>