<div id="profile" class="tab-pane fade in active">
	<div class="edit-profile" style="display: block;">
		<form class="edit-profile-form" [formGroup]="insertForm" (ngSubmit)="onSubmit(insertForm.valid)">
			<h2>{{'user-update-details'|translate}}</h2>
			<div class="col-sm-9 no-padding no-float">
				<div class="row form-group">
					<div class="col-sms-6 col-sm-6">
						<label>{{'user-update-first'|translate}}</label> <input type="text" class="input-text full-width cadre" placeholder="" formControlName="firstName" [readonly]="true">
					</div>
					<div class="col-sms-6 col-sm-6">
						<label>{{'user-update-last'|translate}}</label> <input type="text" class="input-text full-width cadre" placeholder="" formControlName="lastName" [readonly]="true">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sms-6 col-sm-6">
						<label>{{'user-update-email'|translate}}</label> <input type="text" class="input-text full-width cadre" placeholder="" formControlName="email" [readonly]="true">
					</div>
					<div class="col-sms-6 col-sm-6">
						<label>{{'user-update-checkemail'|translate}}</label> <input type="text" class="input-text full-width cadre" placeholder="" formControlName="emailVerif">
						<div *ngIf="!insertForm.controls.emailVerif.valid && !valid" class="alert-danger">
							<div [hidden]="!insertForm.controls.emailVerif.errors?.MatchEmail">{{'user-update-checkemail-errors'|translate}</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sms-6 col-sm-6">
						<button type="submit" class="btn-medium full-width">{{'user-update-update'|translate}}</button>
					</div>
					<div class="col-sms-6 col-sm-6">
						<a class="button btn-medium full-width" [routerLink]="['../profil']" routerLinkActive="active">{{'user-update-cancel'|translate}}</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div id="alert"><a id="close">X</a>
<div id="wrapper">
  <div id="left">{{'ERROR'|translate}} [ {{errorCode}} ]:</div>   
  <div id="right">{{errorMessage}}</div>
</div>
</div>