<section id="content" class="">
	<div class="container" >
	    <div class="tab-container full-width-style arrow-left dashboard">
	        <ul class="tabs">
	            <li routerLinkActive="active"><a data-toggle="tab" [routerLink]="['dashboard']"><i class="soap-icon-anchor circle"></i>{{'user-dashboard'|translate}}</a></li>
	            <li routerLinkActive="active"><a data-toggle="tab" [routerLink]="['profil']"><i class="soap-icon-user circle"></i>{{'user-profile'|translate}} </a></li>
	             <li routerLinkActive="active"><a data-toggle="tab" [routerLink]="['settings']"><i class="soap-icon-settings circle"></i>{{'user-settings'|translate}}</a></li>
	        </ul>
	        <div class="tab-content">
				<router-outlet></router-outlet>
	        </div>
	    </div>
	    <!-- soap-icon-departure -->
	</div>
</section>