 <section id="content" class="gray-area">
	<div class="container">
	    <div class="row">
	        <div id="main" class="col-sms-6 col-sm-8 col-md-9" style = "background-color:white;">
	            <div class="booking-section travelo-box">

					<form class="booking-form" [formGroup]="insertForm" (ngSubmit)="onSubmit(insertForm.valid)" name="myForm" autocomplete="off">
						<h2>{{'entrevue-info'| translate}} </h2>
						<input type="hidden" formControlName="userId" />
						
						<div class="form-group row">
							<div class="col-sm-6 col-md-12">
								<label>{{'title'|translate}}</label> <input type="text"
									class="input-text full-width" id="description"
									placeholder="{{'entrevue-title-holder'| translate}} ..." formControlName="title"><br />
								<small *ngIf="!insertForm.controls.title.valid && valid">Required
									(Must be at least 10 chars, and max 100 chars).</small>
								<div *ngIf="insertForm.controls.title.errors && !valid" class="alert-danger">
									<div [hidden]="!insertForm.controls.title.errors.required">{{'insert-title-error-required'|translate}}</div>
									<div [hidden]="!insertForm.controls.title.errors.minlength">{{'insert-title-error-min'|translate}}</div>
									<div [hidden]="!insertForm.controls.title.errors.maxlength">{{'insert-title-error-max'|translate}}</div>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-6 col-md-12">
								<label>{{'Entrevue'|translate}}</label>
								<textarea rows="4" class="input-text full-width" id="text"
									placeholder="{{'entrevue-content-holder'| translate}} ... " formControlName="entrevue"></textarea>
								<small *ngIf="!insertForm.controls.entrevue.valid && valid">Required(Must be at least 20 chars).</small>
							</div>
							<div *ngIf="insertForm.controls.entrevue.errors && !valid" class="alert-danger">
								<div [hidden]="!insertForm.controls.entrevue.errors.required">{{'insert-desc-error-required'|translate}}</div>
								<div [hidden]="!insertForm.controls.entrevue.errors.minlength">{{'insert-desc-error-min'|translate}}</div>
								<div [hidden]="!insertForm.controls.entrevue.errors.maxlength">{{'insert-desc-error-max'|translate}}</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 col-md-5">
								<button type="submit" class="full-width btn-large">{{ 'button-create'|translate}}</button>
							</div>
							<div class="col-sm-6 col-md-5">
								<a class="button btn-large full-width"
									[routerLink]="['../../home']" routerLinkActive="active">{{'button-cancel'|translate}}</a>
							</div>
						</div>
					</form>
				  	
                </div>


            </div>
        </div>
    </div>
</section>
