<!--   <div class="world-map-section"> 

        </div>-->

<section id="content" class="gray-area">
    <div class="container">
            <div id="main">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                        <div  class="col-sm-4 col-md-2"  style="position:fixed;">
                        <h4 class="search-results-title"><i class="soap-icon-search"></i><b>{{entrevues.length}}</b> {{'results-found'|translate}}.</h4>

                        <div >
                            <a [routerLink]="['/entrevue/create']" routerLinkActive="active"  class="button uppercase full-width btn-large dark-blue1">{{'entrevue-create'|translate}}</a>
                            
                        </div>
                        <div *ngIf="selectedEntrevue" >
                            <a href="#travelo-delete" class="button btn-large red full-width soap-popupbox"
                                (click)="ShowDelete()" >{{'button-delete'|translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8">
                    <div >
                        <h2>{{'entrevue-list'|translate}}</h2>
                        <div class="toggle-container box" id="accordion1">
                            <div *ngFor="let entrevue of entrevues" class="panel style1">
                                <h4 class="panel-title">
                                    <a href="#{{entrevue.id}}" data-toggle="collapse"  (click)="clicked(entrevue)" data-parent="#accordion1">{{'title'|translate}} : {{entrevue.title}}</a>
                                </h4>
                                <div class="panel-collapse collapse" id="{{entrevue.id}}">
                                    <!--<div class="panel-content">
                                        <p>{{entrevue.entrevue}}</p>
                                    </div> end content -->
                                    <div *ngFor="let paragraph of entrevue.paragraphes" class="panel-content">
                                        <p>{{paragraph.paragraph}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<div id="alert"><a id="close">X</a>
    <div id="wrapper">
        <div id="left">{{'ERROR'|translate}} [ {{errorCode}} ]:</div>   
        <div id="right">{{errorMessage}}</div>
    </div>
</div>
<div *ngIf="delete" id="travelo-delete" class="travelo-signup-box travelo-box" style = "height: 250px;">
 	<div class="simple-signup" align="center">
		<h1 class="red-color uppercase">{{'warning-title'| translate}}</h1>
        <p *ngIf="!error" style="font-size: 1.3333em;">{{'warning-message'| translate}}</p>
        <div *ngIf="error">
            <div><h4 class="red-color">{{'ERROR'|translate}} [ {{errorCode}} ]: {{errorMessage}}</h4></div> 
        </div>
	</div>
	<div class="seperator"></div>
	<div class="form-group row">
		<div  class="col-sm-6 col-md-6">
			<a href="#travelo-delete" class="button btn-large red full-width soap-popupbox" (click)="Delete()" >{{'button-delete'|translate}}</a>
		</div>
		<div  class="col-sm-6 col-md-6">
			<a href="#travelo-delete" class="button btn-large full-width soap-popupbox" (click)="Cancel($event)" >{{'button-cancel'|translate}}</a>
		</div>
	</div>
</div>