<section id="content" class="gray-area">
	<div class="container">
		<div class="tab-content" *ngIf="entrevue">

            <div class="tab-pane active" id="car-details">
                <div class="col-sm-4 intro box table-wrapper full-width hidden-table-sms">
                	
                    <div class="travel-story-container box">
                            <div class="travel-story-content">
                                <div class="avatar">
                                    <p>{{'added-by'|translate}}</p>
                                    <img src="http://www.ahm.org.py/awk/wp-content/uploads/2017/01/user.jpg" width="90" height="90" alt="">
                                    
                                    <h5 *ngIf="user"><a href="#">{{user.firstName}} {{user.lastName}}</a></h5>
                                </div>
                                <div class="description">
                                    <h4 class="skin-color">{{entrevue.title}}</h4>
                                    <p *ngFor="let paragraph of entrevue.paragraphes">{{paragraph.paragraph}}</p>
                                </div>
                            </div>
                            <div class="travel-story-meta clearfix">
                                <div class="story-meta">
                                    <span class="date"><i class="soap-icon-clock"></i>{{'added-on'|translate}} : {{entrevue.createdOn | date:shortDate}}  |  {{entrevue.createdOn | date:'shortTime'}}</span>
                                </div>
                                <span class="travel-miles"><i class="soap-icon-doc-plus"></i><span><b>{{entrevue.paragraphes.length}}</b> {{'paragraphs'|translate}}</span></span>
                            </div>
                        </div>

                </div>
			</div>
		</div>
	</div>
</section>

