<section id="content">
	<div class="container">
        <div id="main">
			<div class="text-center yellow-color box" style="font-size: 4em; font-weight: 300; line-height: 1em;">{{'activate-account-title'|translate}}</div>
            <div class="col-sm-8 col-md-6 col-lg-5 no-float no-padding center-block">
                <form class="login-form" [formGroup]="activateAccountForm" role="form" (ngSubmit)="activateaccount(activateAccountForm.valid)">
                    <div class="form-group">
                        <input type="text" class="input-text input-large full-width" #token formControlName="token" placeholder="Use token provided in registration email">
                    	<div *ngIf="!activateAccountForm.controls.token.valid && !valid" class="alert-danger">
			          		<div [hidden]="activateAccountForm.controls.token.valid">{{'activate-account-required'|translate}}</div>
		       		 	</div>
                  	</div>
                  	<div *ngIf="!isValidated && submitted" class="alert-danger">
		          		<div [hidden]="isValidated">{{'activate-account-error'|translate}}</div>
                  	</div>
                    <button type="submit" class="btn-large full-width sky-blue1">{{'activate-account-submit'|translate}}</button>
                </form>
            </div>
        </div>
    </div>
</section>