<section id="content">
	<div class="container">
        <div id="main">
			<div *ngIf="!redirect" class="text-center yellow-color box" style="font-size: 4em; font-weight: 300; line-height: 1em;">{{'welcome-back'|translate}}!</div>
            <div *ngIf="redirect" class="text-center red-color box" style="font-size: 4em; font-weight: 300; line-height: 1em;">{{'you-need-to-connect'|translate}}!</div>
            <p class="text-center light-blue-color block" style="font-size: 1.3333em;">{{'login-login-account'|translate}}</p>
            <div class="col-sm-8 col-md-6 col-lg-5 no-float no-padding center-block">
                <form class="login-form" [formGroup]="insertForm" role="form" (ngSubmit)="login(insertForm.valid)">
                    <div class="form-group">
                        <input type="text" class="input-text input-large full-width" #username formControlName="username" placeholder="{{'home-plholder-username'|translate}}">
                    	<div *ngIf="!insertForm.controls.username.valid && !valid" class="alert-danger">
			          		<div [hidden]="insertForm.controls.username.valid">{{'home-username-required'|translate}} </div>
		       		 	</div>
                  	</div>
                    <div class="form-group">
                        <input type="password" class="input-text input-large full-width" #password formControlName="password" placeholder="{{'home-plholder-password'|translate}}">
                    	<div *ngIf="!insertForm.controls.password.valid && !valid" class="alert-danger">
			          		<div [hidden]="insertForm.controls.password.valid">{{'home-password-required'|translate}}</div>
		       		 	</div>
                  	</div>
                  	<div *ngIf="!isLoggedIn && submitted " class="alert-danger">
		          		<div [hidden]="isLoggedIn">{{'home-credentials-valid'|translate}}</div>
                  	</div>
                    <div class="form-group">
                        <label class="checkbox">
                            <input type="checkbox" value="">{{'home-remember-me'|translate}}<a [routerLink]="['resetpassword']" routerLinkActive="active" class="forgot-password pull-right">Forgot password?</a>
                        </label>
					</div>
                    <button type="submit" class="btn-large full-width sky-blue1">{{'home-button-login'|translate}}</button>
                </form>
            </div>
        </div>
    </div>
</section>
<div id="alert"><a id="close">X</a>
<div id="wrapper">
  <div id="left">{{'ERROR'|translate}} [ {{errorCode}} ]:</div>   
  <div id="right">{{errorMessage}}</div>
</div>
</div>