<section id="content">
	<div class="container">
        <div id="main">
			<div class="text-center blue-color box" style="font-size: 4em; font-weight: 300; line-height: 1em;">{{'reset-password-text'|translate}}</div>
            <div class="col-sm-8 col-md-6 col-lg-5 no-float no-padding center-block">
                <form role="form" (submit)="resetpassword($event, username.value)">
                    <div class="form-group">
                        <input type="text" #username id="username" class="input-text full-width" placeholder="{{'reset-plcholder-email'|translate}}">
                    	
                  	</div>
                    <button type="submit" class="btn-large full-width sky-blue1">{{'reset-button'|translate}}</button>
                </form>
            </div>
        </div>
    </div>
</section>
<div id="alert"><a id="close">X</a>
<div id="wrapper">
  <div id="left">{{'ERROR'|translate}} [ {{errorCode}} ]:</div>   
  <div id="right">{{errorMessage}}</div>
</div>
</div>